
  <div id="header" class="nav-collapse">
    <div class="row clearfix">
      <div class="col-1">

        <!--Logo-->
        <div id="logo">

          <!--Logo that is shown on the banner-->
          <img src="assets/images/logo.png" id="banner-logo" alt="Landing Page" />
          <!--End of Banner Logo-->

          <!--The Logo that is shown on the sticky Navigation Bar-->
          <img src="assets/images/logo-2.png" id="navigation-logo" alt="Landing Page" />
          <!--End of Navigation Logo-->

        </div>
        <!--End of Logo-->

        <app-social></app-social>


        <!--Main Navigation-->
        <app-navigation></app-navigation>
        <!--End of Main Navigation-->



      </div>
    </div>
  </div>
  <!--End of Header-->


 