<section id="about" class="introduction scrollto">

    <div class="row clearfix">

        <div class="col-3">
            <div class="section-heading">
                <h3>{{cfg.taglien}}</h3>
                <h2 class="section-title">{{cfg.title}}</h2>
                <p class="section-subtitle">{{cfg.description}}</p>
            </div>

        </div>

        <div class="col-2-3">

            <!--Icon Block-->
            <div  *ngFor="let feat of cfg.features" class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-{{feat.icon}} fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>{{feat.title}}</h4>
                    <p> {{feat.description}}</p>
                </div>
            </div>
            <!--End of Icon Block-->

      
        </div>

    </div>


</section>