 
  <header id="banner" class="scrollto clearfix" data-enllax-ratio=".5"> 
      <!--Banner Content-->
       <div id="banner-content " class="row homepage clearfix">
     
           <div *ngIf="header" class="col-38">
       
             <div class="section-heading">
               <h1>{{header.heading}}</h1>
               <h2>{{header.headingtext}}</h2>
             </div>
       
             <!--Call to Action-->
             <a href="#" class="button">{{header.buttonText}}</a>
             <!--End Call to Action-->
       
           </div>
       
         </div>
         <!--End of Row-->
     
       </header>