<section id="pricing" class="secondary-color text-center scrollto clearfix ">
    <div class="row clearfix">

        <div class="section-heading">
            <h3>{{cfg.taglien}}</h3>
            <h2 class="section-title">{{cfg.title}}</h2>
        </div>

        <!--Pricing Block-->
        <div *ngFor="let price of cfg.plans" class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s">
            <div class="pricing-block-content">
                <h3>{{price.title}}</h3>
                <p class="pricing-sub">{{price.subtitle}}</p>
                <div class="pricing">
                    <div class="price"><span>$</span>19</div>
                    <p>{{price.description}}</p>
                </div>
                <ul>
                    <li>{{price.downloads}}</li>
                    <li>{{price.extensions}}</li>
                    <li>{{price.tutorials}}</li>
                    <li>{{price.support}}</li>
                    <li>{{price.updates}}</li>
                </ul>
                <a href="{{price.buttonlink}}" class="{{price.buttontext}}">BUY TODAY</a>
            </div>
        </div>
        <!--End Pricing Block-->

      

    </div>
</section>