<aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

    <div class="row clearfix">

        <div class="section-heading">
            <h3>{{cfg.taglien}}</h3>
            <h2 class="section-title">{{cfg.title}}</h2>
        </div>

        <!--User Testimonial-->
        <blockquote  *ngFor="let feed of cfg.feedbacks"  class="col-3 testimonial classic">
            <img src="assets/images/user-images/{{feed.userimage}}" alt="User"/>
            <q>{{feed.comments}}</q>
            <footer>{{feed.name}}- {{feed.company}}</footer>
        </blockquote>
        <!-- End of Testimonial-->

        

    </div>

</aside>