<div id="wrapper">

  <app-header></app-header>

  <!--Main Content Area-->
  <main id="content">

    <!--Introduction-->
    <app-about></app-about>
    <!--End of Introduction-->


    <!--Gallery-->
    <app-gallery></app-gallery>
    <!--End of Gallery-->


    <!--Content Section-->
    <app-content></app-content>
    <!--End of Content Section-->

    <!--Testimonials-->
    <app-testimonial></app-testimonial>
    <!--End of Testimonials-->

    <!--Clients-->
    <app-client></app-client>
    <!--End of Clients-->

    <!--Pricing Tables-->
    <app-pricing></app-pricing>
    <!--End of Pricing Tables-->

  </main>
  <!--End Main Content Area-->


  <!--Footer-->
  <app-footer></app-footer>
  <!--End of Footer-->

</div>