
    <div class="pricing-block-content">
        <h3>{{post.title}}</h3>
        <p class="pricing-sub">{{post.author}} | {{post.publishdate |date:'dd-MMM-yyyy'}}</p>
        <div class="pricing">
<img src="/assets/images/gallery-images/{{post.image}}" alt="">
        </div>
        <ul>
                <div *ngIf="id" markdown [data]="post.excert" id="preview"> </div> 
        </ul>
        <a class="button" routerLink="/article/{{post.id}}" ><i class="fa fa-heart"></i> show</a>
        <a class="button" routerLink="/article-edit/{{post.id}}" ><i class="fa fa-edit"></i>edit </a>
    </div>
 