<section id="about" class="secondary-color text-center scrollto clearfix ">

  <div class="row clearfix">

      <div class="section-heading">
          <h3>{{cfg.taglien}}</h3>
          <h2 class="section-title">{{cfg.title}}</h2>
      </div>



      <div *ngFor="let post of pages"  class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s">
<app-post  [post]=post ></app-post>
</div>
  </div>


  <div>
 
<app-pagination [pager]=pager  (setPage)="setPage($event)"></app-pagination>

  </div>

</section>